<mat-card>
    <mat-action-list>
        <button mat-list-item>
            <mat-icon class="mx-3">home</mat-icon>Home
            
        </button>

        <button mat-list-item  [routerLink]="'userprofile'" class="mt-3">
            <mat-icon class="mx-3">account_circle</mat-icon>Profile

        </button>

        <button [routerLink]="['/user-dashbord/'+0]" mat-list-item>
            <mat-icon class="mx-3">quizzes</mat-icon>All Quizzes

        </button>

        <button [routerLink]="['/user-dashbord/'+category.category_id]" mat-list-item  *ngFor="let category of getAllcategory">
            <mat-icon class="mx-3" >category</mat-icon>{{category.title}}

        </button>

    
        <button mat-list-item>
            <mat-icon class="mx-3">logout</mat-icon>Logout
        </button>
    </mat-action-list>
</mat-card>

