<mat-card *ngFor="let item of allQuizes">
    <mat-list>
        <h1>All Quizes Here</h1>
        <mat-list-item>
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line>{{item.title}}</div>
            <div mat-line>{{item.description}}</div>

    

            <mat-divider></mat-divider> <br>
       
        </mat-list-item>
        <div class="text-center my-3">
            <button mat-raised-button color="primary" [routerLink]="'/admin-dashbord/allQuestion/'+item.quiz_id+'/'+item.title" class="mx-2">Questions</button>
            <button mat-raised-button  class="mx-2 ">Max Marks:{{item.maxMarks}}</button>
            <button mat-raised-button  class="mx-2 ">Number Of Questions:{{item.numberOfQuestions}}</button>
            <button mat-raised-button color="primary" class="mx-2">Attempts</button>
            <button mat-raised-button color="primary" [routerLink]="'/admin-dashbord/updateQuize/'+item.quiz_id" class="mx-2">Update Quiz</button>
            <button mat-raised-button color="warn" (click)="deleteQuize(item.quiz_id)">Delete Quiz</button>
        </div>

    </mat-list>        


    <div class="text-center my-3">
        <button mat-raised-button color="primary"  [routerLink]="'/admin-dashbord/addQuize'">Add Quize</button>
    </div>

</mat-card>

