<div class="home ">
    <marquee behavior="" class="marquee" direction="">Online Exam Portel , Nagpur Univercity, this is Authorise Exam Prortel of Univercity ,All Condition and Follow Exam ruls</marquee>
<div class="container mt-5" >

    <div class="row justify-content-center mt-5 " >
        
        <div class="col-4  mt-5">
            <h1 class="bg-white"><b>Wel-come to Career Infotech</b></h1> <br>
            <h1 class="bg-white text-center"><b>Onlie Exam Portal</b></h1>
        </div> 

  
          
       
    </div>
</div>
</div>